src/infra/files/step_functions_handson_bigdata.json
{
  "Comment": "Pipeline EMR",
  "StartAt": "CreateCluster",
  "States": {
    "CreateCluster": {
      "Type": "Task",
      "Resource": "arn:aws:states:::elasticmapreduce:createCluster.sync",
      "Parameters": {
        "Name": "${emr_cluster_name}",
        "ReleaseLabel": "${emr_release_label}",
        "Applications": [
          {
            "Name": "Hadoop"
          },
          {
            "Name": "Ganglia"
          },
          {
            "Name": "Hive"
          },
          {
            "Name": "Spark"
          }
        ],
        "LogUri": "s3://${emr_log_bucket}/${emr_log_prefix}",
        "VisibleToAllUsers": true,
        "ServiceRole": "${emr_service_role_name}",
        "JobFlowRole": "${emr_jobflow_role_name}",
        "Instances": {
          "Ec2SubnetId": "${emr_subnet_id}",
          "KeepJobFlowAliveWhenNoSteps": true,
          "TerminationProtected": false,
          "InstanceGroups": [
            {
              "Name": "Master nodes",
              "InstanceRole": "MASTER",
              "InstanceType": "${emr_master_instance_type}",
              "InstanceCount": 1
            }
          ]
        }
      },
      "ResultPath": "$.CreateClusterResult",
      "Next": "AddStepLanding2Bronze"
    },
    "AddStepLanding2Bronze": {
      "Type": "Task",
      "Resource": "arn:aws:states:::elasticmapreduce:addStep.sync",
      "Parameters": {
        "ClusterId.$": "$.CreateClusterResult.ClusterId",
        "Step": {
          "Name": "spark-pipeline-landing-to-bronze",
          "ActionOnFailure": "CANCEL_AND_WAIT",
          "HadoopJarStep": {
            "Jar": "command-runner.jar",
            "Args": [
              "spark-submit",
              "--deploy-mode",
              "cluster",
              "--conf",
              "spark.sql.extensions=io.delta.sql.DeltaSparkSessionExtension",
              "--conf",
              "spark.sql.catalog.spark_catalog=org.apache.spark.sql.delta.catalog.DeltaCatalog",
              "--packages",
              "io.delta:delta-core_2.12:2.4.0",
              "${bronze_script_path}"
            ]
          }
        }
      },
      "ResultPath": "$.SparkStepLanding2BronzeResult",
      "Next": "AddStepBronze2Silver"
    },
    "AddStepBronze2Silver": {
      "Type": "Task",
      "Resource": "arn:aws:states:::elasticmapreduce:addStep.sync",
      "Parameters": {
        "ClusterId.$": "$.CreateClusterResult.ClusterId",
        "Step": {
          "Name": "spark-pipeline-bronze-to-silver",
          "ActionOnFailure": "CANCEL_AND_WAIT",
          "HadoopJarStep": {
            "Jar": "command-runner.jar",
            "Args": [
              "spark-submit",
              "--deploy-mode",
              "cluster",
              "--conf",
              "spark.sql.extensions=io.delta.sql.DeltaSparkSessionExtension",
              "--conf",
              "spark.sql.catalog.spark_catalog=org.apache.spark.sql.delta.catalog.DeltaCatalog",
              "--packages",
              "io.delta:delta-core_2.12:2.4.0",
              "${silver_script_path}"
            ]
          }
        }
      },
      "ResultPath": "$.SparkStepBronze2SilverResult",
      "Next": "AddStepGold"
    },
    "AddStepGold": {
      "Type": "Task",
      "Resource": "arn:aws:states:::elasticmapreduce:addStep.sync",
      "Parameters": {
        "ClusterId.$": "$.CreateClusterResult.ClusterId",
        "Step": {
          "Name": "spark-pipeline-gold",
          "ActionOnFailure": "CANCEL_AND_WAIT",
          "HadoopJarStep": {
            "Jar": "command-runner.jar",
            "Args": [
              "spark-submit",
              "--deploy-mode",
              "cluster",
              "--conf",
              "spark.sql.extensions=io.delta.sql.DeltaSparkSessionExtension",
              "--conf",
              "spark.sql.catalog.spark_catalog=org.apache.spark.sql.delta.catalog.DeltaCatalog",
              "--packages",
              "io.delta:delta-core_2.12:2.4.0",
              "${gold_script_path}"
            ]
          }
        }
      },
      "ResultPath": "$.SparkStepGoldResult",
      "Next": "TerminateCluster"
    },
    "TerminateCluster": {
      "Type": "Task",
      "Resource": "arn:aws:states:::elasticmapreduce:terminateCluster",
      "Parameters": {
        "ClusterId.$": "$.CreateClusterResult.ClusterId"
      },
      "End": true
    }
  }
}
